.signInParent {
    background-color:rgb(139, 123, 139);
}

.formFloatingEmail {
    margin-left:52em;
    margin-top: 5em;
}

.formFloatingPassword {
    margin-left:50.6em;
    margin-top: 1em;

}

.signInButton {
    margin-top: 1em;
    margin-bottom: 1em;
    border: none;
    border-radius: 3px 3px;
    height: 2em;
    width: 5em;
}

.signInButtonParent {
    text-align: center;
}